:root {
  font-size: 18px;
  --hnr-baseline-grid: 22px;
  --hnr-gap: 2px;
  --hacker-news-theme: #f60;
}
body {
  font: 1rem / var(--hnr-baseline-grid) "Source Sans Pro", sans-serif;
  margin: 2rem;
  text-rendering: geometricPrecision;
}
a {
  text-decoration: none;
  color: var(--hacker-news-theme);
  transition: 0.2s;
}
p {
  margin: var(--hnr-baseline-grid) 0;
}
a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
  font: 3rem/1 "Cinzel", serif;
  font-weight: 400;
  margin: calc(var(--hnr-baseline-grid) * 5) 0 calc(var(--hnr-baseline-grid) * 4);
  letter-spacing: 0.1em;
}
#stories-picker {
  margin-top: 0;
}
#stories-picker a {
  cursor: pointer;
}
#stories-picker .highlight {
  font-weight: bold;
}
main {
  max-width: 60rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}
.contents {
  grid-column: span 2;
}
#news-list {
  padding: 0;
}
#news-list li {
  list-style: none;
  margin: 0 -0.25rem calc(var(--hnr-baseline-grid) / 2 - var(--hnr-gap));
  padding: 0 0.25rem var(--hnr-gap);
  border-radius: 3px;
  cursor: pointer;
}
#news-list .highlight {
  background: var(--hacker-news-theme);
  color: white;
}
#links {
  margin-top: 0;
  font-weight: bold;
}
details p {
  margin: calc(var(--hnr-baseline-grid) / 2) 0;
}
details + details {
  margin-top: var(--hnr-baseline-grid);
  box-sizing: border-box;
  border-top: 1px solid #dfdfdf;
  padding-top: calc(var(--hnr-baseline-grid) * 2 / 3 - 1px);
}
details details {
  margin-top: var(--hnr-baseline-grid);
  margin-left: 2rem;
}
details.loading::after {
  content: "…";
  margin-left: 2rem;
}
summary {
  outline: none;
}
summary::marker {
  color: var(--hacker-news-theme);
}
summary::-webkit-details-marker {
  color: var(--hacker-news-theme);
}
pre {
  font-size: calc(var(--hnr-baseline-grid) * 2 / 3);
  line-height: 1;
}
code {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
}
.empty summary {
  list-style: none;
}
.empty summary::-webkit-details-marker {
  display: none;
}
.op {
  font-weight: bold;
}
#load-cluster {
  cursor: pointer;
}
.hidden {
  display: none;
}
